@charset "UTF-8";
@font-face {
    font-family: Track;
    src: url(Track-RegularItalic.otf);
    }


nav {
    display: flex;
    color: #ffffff;
    padding: 10px 0px 0px;
    font-weight: bolder;
    border-radius: 8px;
    background-image: linear-gradient(to right, #a643fde3, rgba(255, 255, 255, 0) );  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset,
    0 0 20px linear-gradient(to right, #fd4343e3, rgba(5, 5, 5, 0), rgba(255, 255, 255, 0));
}
    
    
nav :hover{
    background-color: #8600FF;
    color: #d6a7ff;
    transition-duration: 0.7s;
    border-radius: 15px;}


nav > p{
    display: flex;
    padding: 10px;
    
    
}





h1{
    font-family: track;
    color: #081B6C;
    line-height: 0.5em;
    
}

body{
    margin: 0px;
    padding: 0px;
   
   
}

.cartao{
    margin: auto;   
    height: 279px;
    width: 200px;
    margin: 30px;    
    padding: 40px 60px 30px ;
    background-color: #ffffffd2;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.397);
     
}


.cartao > h1{
    line-height: 1em;
    color: #8600FF;

}

.cartao > h3{ 
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(10, 0, 102), violet);
    border-radius: 0px 10px 10px 0px;
    color: #ffffff;
    
}




main > h1{
    color: #8600FF;
}

footer{
    background-image: linear-gradient(to bottom, #4e0092, black);
    margin: 0;
    padding: 5px 5px 5px ;
}

main{
    background-image: url(Site/Imagem/img1-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center right;
}   